.wrapper {
  background-color: #fcfaeb;
  border: 1px solid #b3ac86;
}

.title_block {
  display: block;
  width: calc(100% - 16px * 2);
  padding: 8px 16px;
  background-color: #cccccc;
}

.not_footer,
.footer {
  width: calc(100% - 16px * 2);
  padding: 16px;
}

.footer {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: right;
  background-color: #f5f2dd;
}

.footer button {
  background-color: transparent;
  border: none;
  color: #594304;
}

.footer button:hover {
  font-weight: bold;
}
